---
- name: Remove broken docker list if exists
  file:
    path: /etc/apt/sources.list.d/docker.list
    state: absent

- name: Install prerequisites
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    update_cache: yes
    state: present

- name: Add Docker GPG key
  shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /usr/share/keyrings/docker.gpg
  args:
    creates: /usr/share/keyrings/docker.gpg

- name: Add Docker repository
  copy:
    dest: /etc/apt/sources.list.d/docker.list
    content: |
      deb [arch=amd64 signed-by=/usr/share/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu jammy stable

- name: Install Docker Engine
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    update_cache: yes
    state: present
